# Maven / Spring Boot
backend/target/

backend/.env
# Node / React
frontend/node_modules/
frontend/dist/

# IDEs
*.iml
.idea/
.vscode/
.project
.classpath
package-lock.json
package.json
node_modules/.package-lock.json
node_modules/@stomp/stompjs/index.d.ts
node_modules/@stomp/stompjs/LICENSE
node_modules/@stomp/stompjs/package.json
node_modules/@stomp/stompjs/README.md
node_modules/@stomp/stompjs/bundles/package.json
node_modules/@stomp/stompjs/bundles/stomp.umd.js
node_modules/@stomp/stompjs/bundles/stomp.umd.js.map
node_modules/@stomp/stompjs/bundles/stomp.umd.min.js
node_modules/@stomp/stompjs/esm6/augment-websocket.d.ts
node_modules/@stomp/stompjs/esm6/augment-websocket.js
node_modules/@stomp/stompjs/esm6/augment-websocket.js.map
node_modules/@stomp/stompjs/esm6/byte.d.ts
node_modules/@stomp/stompjs/esm6/byte.js
node_modules/@stomp/stompjs/esm6/byte.js.map
node_modules/@stomp/stompjs/esm6/client.d.ts
node_modules/@stomp/stompjs/esm6/client.js
node_modules/@stomp/stompjs/esm6/client.js.map
node_modules/@stomp/stompjs/esm6/frame-impl.d.ts
node_modules/@stomp/stompjs/esm6/frame-impl.js
node_modules/@stomp/stompjs/esm6/frame-impl.js.map
node_modules/@stomp/stompjs/esm6/i-frame.d.ts
node_modules/@stomp/stompjs/esm6/i-frame.js
node_modules/@stomp/stompjs/esm6/i-frame.js.map
node_modules/@stomp/stompjs/esm6/i-message.d.ts
node_modules/@stomp/stompjs/esm6/i-message.js
node_modules/@stomp/stompjs/esm6/i-message.js.map
node_modules/@stomp/stompjs/esm6/i-transaction.d.ts
node_modules/@stomp/stompjs/esm6/i-transaction.js
node_modules/@stomp/stompjs/esm6/i-transaction.js.map
node_modules/@stomp/stompjs/esm6/index.d.ts
node_modules/@stomp/stompjs/esm6/index.js
node_modules/@stomp/stompjs/esm6/index.js.map
node_modules/@stomp/stompjs/esm6/parser.d.ts
node_modules/@stomp/stompjs/esm6/parser.js
node_modules/@stomp/stompjs/esm6/parser.js.map
node_modules/@stomp/stompjs/esm6/stomp-config.d.ts
node_modules/@stomp/stompjs/esm6/stomp-config.js
node_modules/@stomp/stompjs/esm6/stomp-config.js.map
node_modules/@stomp/stompjs/esm6/stomp-handler.d.ts
node_modules/@stomp/stompjs/esm6/stomp-handler.js
node_modules/@stomp/stompjs/esm6/stomp-handler.js.map
node_modules/@stomp/stompjs/esm6/stomp-headers.d.ts
node_modules/@stomp/stompjs/esm6/stomp-headers.js
node_modules/@stomp/stompjs/esm6/stomp-headers.js.map
node_modules/@stomp/stompjs/esm6/stomp-subscription.d.ts
node_modules/@stomp/stompjs/esm6/stomp-subscription.js
node_modules/@stomp/stompjs/esm6/stomp-subscription.js.map
node_modules/@stomp/stompjs/esm6/ticker.d.ts
node_modules/@stomp/stompjs/esm6/ticker.js
node_modules/@stomp/stompjs/esm6/ticker.js.map
node_modules/@stomp/stompjs/esm6/types.d.ts
node_modules/@stomp/stompjs/esm6/types.js
node_modules/@stomp/stompjs/esm6/types.js.map
node_modules/@stomp/stompjs/esm6/versions.d.ts
node_modules/@stomp/stompjs/esm6/versions.js
node_modules/@stomp/stompjs/esm6/versions.js.map
node_modules/@stomp/stompjs/esm6/compatibility/compat-client.d.ts
node_modules/@stomp/stompjs/esm6/compatibility/compat-client.js
node_modules/@stomp/stompjs/esm6/compatibility/compat-client.js.map
node_modules/@stomp/stompjs/esm6/compatibility/heartbeat-info.d.ts
node_modules/@stomp/stompjs/esm6/compatibility/heartbeat-info.js
node_modules/@stomp/stompjs/esm6/compatibility/heartbeat-info.js.map
node_modules/@stomp/stompjs/esm6/compatibility/stomp.d.ts
node_modules/@stomp/stompjs/esm6/compatibility/stomp.js
node_modules/@stomp/stompjs/esm6/compatibility/stomp.js.map
node_modules/@stomp/stompjs/src/augment-websocket.ts
node_modules/@stomp/stompjs/src/byte.ts
node_modules/@stomp/stompjs/src/client.ts
node_modules/@stomp/stompjs/src/frame-impl.ts
node_modules/@stomp/stompjs/src/i-frame.ts
node_modules/@stomp/stompjs/src/i-message.ts
node_modules/@stomp/stompjs/src/i-transaction.ts
node_modules/@stomp/stompjs/src/index.ts
node_modules/@stomp/stompjs/src/parser.ts
node_modules/@stomp/stompjs/src/stomp-config.ts
node_modules/@stomp/stompjs/src/stomp-handler.ts
node_modules/@stomp/stompjs/src/stomp-headers.ts
node_modules/@stomp/stompjs/src/stomp-subscription.ts
node_modules/@stomp/stompjs/src/ticker.ts
node_modules/@stomp/stompjs/src/types.ts
node_modules/@stomp/stompjs/src/versions.ts
node_modules/@stomp/stompjs/src/compatibility/compat-client.ts
node_modules/@stomp/stompjs/src/compatibility/heartbeat-info.ts
node_modules/@stomp/stompjs/src/compatibility/stomp.ts
node_modules/debug/CHANGELOG.md
node_modules/debug/LICENSE
node_modules/debug/node.js
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/common.js
node_modules/debug/src/index.js
node_modules/debug/src/node.js
node_modules/eventsource/.editorconfig
node_modules/eventsource/CONTRIBUTING.md
node_modules/eventsource/HISTORY.md
node_modules/eventsource/LICENSE
node_modules/eventsource/package.json
node_modules/eventsource/README.md
node_modules/eventsource/example/eventsource-polyfill.js
node_modules/eventsource/example/index.html
node_modules/eventsource/example/sse-client.js
node_modules/eventsource/example/sse-server.js
node_modules/eventsource/lib/eventsource-polyfill.js
node_modules/eventsource/lib/eventsource.js
node_modules/faye-websocket/CHANGELOG.md
node_modules/faye-websocket/LICENSE.md
node_modules/faye-websocket/package.json
node_modules/faye-websocket/README.md
node_modules/faye-websocket/lib/faye/eventsource.js
node_modules/faye-websocket/lib/faye/websocket.js
node_modules/faye-websocket/lib/faye/websocket/api.js
node_modules/faye-websocket/lib/faye/websocket/client.js
node_modules/faye-websocket/lib/faye/websocket/api/event_target.js
node_modules/faye-websocket/lib/faye/websocket/api/event.js
node_modules/http-parser-js/http-parser.d.ts
node_modules/http-parser-js/http-parser.js
node_modules/http-parser-js/LICENSE.md
node_modules/http-parser-js/package.json
node_modules/http-parser-js/README.md
node_modules/inherits/inherits_browser.js
node_modules/inherits/inherits.js
node_modules/inherits/LICENSE
node_modules/inherits/package.json
node_modules/inherits/README.md
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/querystringify/index.js
node_modules/querystringify/LICENSE
node_modules/querystringify/package.json
node_modules/querystringify/README.md
node_modules/requires-port/.npmignore
node_modules/requires-port/.travis.yml
node_modules/requires-port/index.js
node_modules/requires-port/LICENSE
node_modules/requires-port/package.json
node_modules/requires-port/README.md
node_modules/requires-port/test.js
node_modules/safe-buffer/index.d.ts
node_modules/safe-buffer/index.js
node_modules/safe-buffer/LICENSE
node_modules/safe-buffer/package.json
node_modules/safe-buffer/README.md
node_modules/sockjs-client/AUTHORS
node_modules/sockjs-client/Changelog.md
node_modules/sockjs-client/CODE_OF_CONDUCT.md
node_modules/sockjs-client/LICENSE
node_modules/sockjs-client/package.json
node_modules/sockjs-client/README.md
node_modules/sockjs-client/dist/sockjs.js
node_modules/sockjs-client/dist/sockjs.js.map
node_modules/sockjs-client/dist/sockjs.min.js
node_modules/sockjs-client/dist/sockjs.min.js.map
node_modules/sockjs-client/lib/entry.js
node_modules/sockjs-client/lib/facade.js
node_modules/sockjs-client/lib/iframe-bootstrap.js
node_modules/sockjs-client/lib/info-ajax.js
node_modules/sockjs-client/lib/info-iframe-receiver.js
node_modules/sockjs-client/lib/info-iframe.js
node_modules/sockjs-client/lib/info-receiver.js
node_modules/sockjs-client/lib/location.js
node_modules/sockjs-client/lib/main.js
node_modules/sockjs-client/lib/shims.js
node_modules/sockjs-client/lib/transport-list.js
node_modules/sockjs-client/lib/version.js
node_modules/sockjs-client/lib/event/close.js
node_modules/sockjs-client/lib/event/emitter.js
node_modules/sockjs-client/lib/event/event.js
node_modules/sockjs-client/lib/event/eventtarget.js
node_modules/sockjs-client/lib/event/trans-message.js
node_modules/sockjs-client/lib/transport/eventsource.js
node_modules/sockjs-client/lib/transport/htmlfile.js
node_modules/sockjs-client/lib/transport/iframe.js
node_modules/sockjs-client/lib/transport/jsonp-polling.js
node_modules/sockjs-client/lib/transport/websocket.js
node_modules/sockjs-client/lib/transport/xdr-polling.js
node_modules/sockjs-client/lib/transport/xdr-streaming.js
node_modules/sockjs-client/lib/transport/xhr-polling.js
node_modules/sockjs-client/lib/transport/xhr-streaming.js
node_modules/sockjs-client/lib/transport/browser/abstract-xhr.js
node_modules/sockjs-client/lib/transport/browser/eventsource.js
node_modules/sockjs-client/lib/transport/browser/websocket.js
node_modules/sockjs-client/lib/transport/driver/eventsource.js
node_modules/sockjs-client/lib/transport/driver/websocket.js
node_modules/sockjs-client/lib/transport/driver/xhr.js
node_modules/sockjs-client/lib/transport/lib/ajax-based.js
node_modules/sockjs-client/lib/transport/lib/buffered-sender.js
node_modules/sockjs-client/lib/transport/lib/iframe-wrap.js
node_modules/sockjs-client/lib/transport/lib/polling.js
node_modules/sockjs-client/lib/transport/lib/sender-receiver.js
node_modules/sockjs-client/lib/transport/receiver/eventsource.js
node_modules/sockjs-client/lib/transport/receiver/htmlfile.js
node_modules/sockjs-client/lib/transport/receiver/jsonp.js
node_modules/sockjs-client/lib/transport/receiver/xhr.js
node_modules/sockjs-client/lib/transport/sender/jsonp.js
node_modules/sockjs-client/lib/transport/sender/xdr.js
node_modules/sockjs-client/lib/transport/sender/xhr-cors.js
node_modules/sockjs-client/lib/transport/sender/xhr-fake.js
node_modules/sockjs-client/lib/transport/sender/xhr-local.js
node_modules/sockjs-client/lib/utils/browser-crypto.js
node_modules/sockjs-client/lib/utils/browser.js
node_modules/sockjs-client/lib/utils/escape.js
node_modules/sockjs-client/lib/utils/event.js
node_modules/sockjs-client/lib/utils/iframe.js
node_modules/sockjs-client/lib/utils/log.js
node_modules/sockjs-client/lib/utils/object.js
node_modules/sockjs-client/lib/utils/random.js
node_modules/sockjs-client/lib/utils/transport.js
node_modules/sockjs-client/lib/utils/url.js
node_modules/url-parse/index.js
node_modules/url-parse/LICENSE
node_modules/url-parse/package.json
node_modules/url-parse/README.md
node_modules/url-parse/dist/url-parse.js
node_modules/url-parse/dist/url-parse.min.js
node_modules/url-parse/dist/url-parse.min.js.map
node_modules/websocket-driver/CHANGELOG.md
node_modules/websocket-driver/LICENSE.md
node_modules/websocket-driver/package.json
node_modules/websocket-driver/README.md
node_modules/websocket-driver/lib/websocket/driver.js
node_modules/websocket-driver/lib/websocket/http_parser.js
node_modules/websocket-driver/lib/websocket/streams.js
node_modules/websocket-driver/lib/websocket/driver/base.js
node_modules/websocket-driver/lib/websocket/driver/client.js
node_modules/websocket-driver/lib/websocket/driver/draft75.js
node_modules/websocket-driver/lib/websocket/driver/draft76.js
node_modules/websocket-driver/lib/websocket/driver/headers.js
node_modules/websocket-driver/lib/websocket/driver/hybi.js
node_modules/websocket-driver/lib/websocket/driver/proxy.js
node_modules/websocket-driver/lib/websocket/driver/server.js
node_modules/websocket-driver/lib/websocket/driver/stream_reader.js
node_modules/websocket-driver/lib/websocket/driver/hybi/frame.js
node_modules/websocket-driver/lib/websocket/driver/hybi/message.js
node_modules/websocket-extensions/CHANGELOG.md
node_modules/websocket-extensions/LICENSE.md
node_modules/websocket-extensions/package.json
node_modules/websocket-extensions/README.md
node_modules/websocket-extensions/lib/parser.js
node_modules/websocket-extensions/lib/websocket_extensions.js
node_modules/websocket-extensions/lib/pipeline/cell.js
node_modules/websocket-extensions/lib/pipeline/functor.js
node_modules/websocket-extensions/lib/pipeline/index.js
node_modules/websocket-extensions/lib/pipeline/pledge.js
node_modules/websocket-extensions/lib/pipeline/README.md
node_modules/websocket-extensions/lib/pipeline/ring_buffer.js
backend/marketing.sql
