# Maven / Spring Boot
backend/target/


# Node / React
frontend/node_modules/
frontend/dist/

# IDEs
*.iml
.idea/
.vscode/
.project
.classpath
frontend/package-lock.json
frontend/package.json


backend/insert_resultados_llamada.sql

# Logs
logs/
backend/logs/
*.log
