logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

spring:
  datasource:
    url: jdbc:mysql://${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}?useSSL=false&serverTimezone=UTC
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true # Nota: Con el logging configurado arriba, podrías poner esto en false si quieres logs más limpios
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
        batch_versioned_data: true

cache:
  type: caffeine
  caffeine:
    spec: maximumSize=1000,expireAfterWrite=24h

app:
  sendgrid:
    api-key: dummy

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
  port: 8080

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:MySecretKeyForJWTTokenGenerationAndValidationShouldBeAtLeast256BitsLong}
  expiration: 86400000 # 24 horas en milisegundos
  header: Authorization
  prefix: "Bearer "